* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border-radius: 70%;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    */
    /* background-color: black;
    /* position: sticky;
    cursor: pointer;
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500; */
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
    /* display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0; */
}

.nav-list li a {
    text-decoration: none;
    color: white;
    /* padding: 0.5em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none; */
}

.nav-list li a:hover {
    color: blue;
    border-top: 4px solid #fcfcfd;
    border-bottom: 4px solid #fefdfe;
    padding: 6px 6px 6px 6px;
}


/* .nav-list a:before,
.nav-list a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.nav-list a:before {
    top: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #c0392b;
}

.nav-list a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}

.nav-list a:hover:before,
.nav-list .current a:before {
    opacity: 1;
    width: 100%;
}

.nav-list a:hover:after,
.nav-list .current a:after {
    max-width: 100%;
} */

.rightNav {
    /* background-color: blue; */
    width: 30%;
    text-align: right;
    padding: 0 25px;
}

#search {
    border-radius: 9px;
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('bg2.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 70%;
}

.firstHalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf {
    width: 30%;
}

.secondHalf img {
    width: 100%;
    border-radius: 26px;
    display: block;
    border: 2px solid gray;
    margin: auto;
}

.text-big {
    font-size: 25px;
}

.text-small {
    font-size: 19px;
}

.btn {
    padding: 5px 10px;
    margin: 11px 9px;
    border-radius: 9px;
    background: none;
    color: white;
    border: 2px dashed white;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    border: 2px solid gray;
    vertical-align: middle;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    padding: 10px;
}

.secLeft {
    flex-direction: row-reverse;
}

.para {
    padding: 0 25px;
    font-family: 'Noto Sans', sans-serif;
}

.sectionSubTag {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.thumbnail img {
    width: 250px;
    border: 2px solid black;
    border-radius: 12px;
    margin-top: 24px;
}

.sectionTag {
    padding: 10px 0;
    font-size: 30px;
}

hr {
    background-color: black;
}

.contact {
    text-align: center;
    background-color: aliceblue;
    height: 150vh;
}

.text-center {
    text-align: center;
    padding: 18px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    max-width: 1200px;
    margin: 42px auto;
}

.form-input {
    width: 100%;
    margin: 14px;
    font-size: 34px;
    border-radius: 6px;
    border: 2px solid gray;
    padding-top: 5px;
    padding-left: 20px;
}

.btn-re {
    color: rgb(55, 50, 50);
    border: 2px solid black;
    float: left;
}

.textAreas {
    text-align: center;
    padding: 18px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dark {
    color: black;
    border: 2px solid black;
    font-size: 20px;
}

.footer-set {
    text-align: center;
    padding: 10px 10px;
    font-size: 25px;
    color: #fcfcfd;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
}

@media only screen and (max-width:1141px) {
    .nav-list {
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
        height: 447px;
        transition: all 0.9s ease-out;
    }
    .rightNav {
        text-align: center;
    }
    #search {
        width: 100%;
    }
    .burger {
        display: block;
    }
    .h-nav-resp {
        height: 72px;
    }
    .v-class-resp {
        opacity: 0;
    }
    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section {
        flex-direction: column-reverse;
    }
    .text-big {
        text-align: left;
    }
    .text-small {
        text-align: left;
    }
    .button {
        text-align: center;
    }
    .form {
        max-width: 62%;
        margin: 42px auto;
    }
}